.Main{

}

.error{
    color: red;
    font-size: 1.1em;
    padding: 1em;
    border: 1px solid red;
    border-radius: 0.4em;
    margin: 1em;
}
.off-line{
    color: purple;
    float: right;
}
.on-line{
    color: green;
    float: right;
}
.felt{
    width: 49%;
    box-sizing: border-box;
    float: left;
}
